body {
  margin: 0;
  font-family: 'Courier New';
  font-size: 0.75rem;
  color: rgb(121, 127, 138);
}

.weather-app-container {
  background-color: rgb(11, 19, 30);
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    'navbar searchbar weekforecast'
    'navbar currentsummary weekforecast'
    'navbar todayforecast weekforecast'
    'navbar airconditions weekforecast';
  grid-template-columns: 0.25fr 2fr 1fr;
  grid-template-rows: 100px 200px 1fr 1fr;
}

.search-bar {
  background-color: rgb(33, 56, 83);
  border: none;
  color: rgb(172, 179, 190);
  grid-area: searchbar;
  border-radius: 1rem;
  height: 3rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 900px;
  box-shadow: 1px 1px 8px 1px;
}

.result-box {
  color: yellow;
  position: absolute;
  z-index: 2;
  font-size: 1.1rem;
  background-color: rgb(32, 43, 59);
  margin-left: 1rem;
  border-radius: 1rem;
  display: none;
  padding-right: 2rem;
  box-shadow: 1px 1px 8px 1px;
}

.app-icon-container {
  display: inline-block;
  background-color: rgb(57, 66, 80);
  border-radius: 1rem;
  margin-bottom: auto;
  display: grid;
  place-items: center;
  padding: 0.25rem;
}

.navigation-bar {
  background-color: rgb(32, 43, 59);
  grid-area: navbar;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  /* box-shadow: 1px 1px 8px 1px; */
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 3fr;
}

.nav-icon,
.app-icon {
  width: 2.5rem;
  height: auto;
}

.nav-icon-weather {
  width: 3rem;
  height: auto;
}

.nav-icon-label-weather {
  color: white;
  font-weight: bolder;
  font-size: 0.9rem;
}

.nav-icon-container {
  display: grid;
  place-items: center;
  color: rgb(121, 127, 138);
  font-family: 'Courier New';
  font-size: 0.75rem;
}

.current-weather-summary-container {
  grid-area: currentsummary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'city image'
    'temperature image';
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}

.city-label {
  color: white;
  font-family: 'Courier New';
  font-size: 2.5rem;
  grid-area: city;
  font-weight: bold;
  align-self: start;
}
.temperature-label {
  color: white;
  font-family: 'Courier New';
  font-size: 2.5rem;
  grid-area: temperature;
  font-weight: bold;
  align-self: end;
}

.weather-condition-image-container {
  grid-area: image;
}

.weather-condition-image {
  width: 150px;
  height: auto;
  grid-area: image;
}

.today-forecast-container {
  grid-area: todayforecast;
  background-color: rgb(32, 43, 59);
  border-radius: 1rem;
  padding: 1.5rem;
  /* box-shadow: 1px 1px 8px 1px; */
}

.today-forecast-items-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}

.today-forecast {
  display: grid;
  justify-content: center;
  position: relative;
}

.today-forecast:not(:first-child)::before {
  content: '';
  background-color: white;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.today-forecast-time {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.today-forecast-temperature {
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  padding-left: 10px;
}

.today-forecast-label {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.air-conditions-container {
  grid-area: airconditions;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 35px 85px 85px;
  margin-top: 1rem;
  padding-left: 1.5rem;
  background-color: rgb(32, 43, 59);
  border-radius: 1rem;
  height: 227px;
  /* box-shadow: 1px 1px 8px 1px; */
}

.air-conditions-cell {
  display: grid;
  grid-template-columns: 40px 1fr 3fr;
}

.today-forecast-image img {
  width: 60px;
}

.air-conditions-temperature {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  font-weight: bolder;
  padding-left: 1rem;
}

.air-conditions-label {
  font-weight: bold;
  align-self: center;
  font-size: 1rem;
  justify-self: start;
  margin-top: 9px;
}

.see-more-button {
  box-sizing: content-box;
  width: 80px;
  height: 30px;
  justify-self: end;
  align-self: center;
  background-color: rgb(3, 149, 255);
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 0px;
  margin-top: 12px;
  margin-right: 9px;
}

.air-conditions-image {
  display: inline;
  width: 40px;
  align-self: center;
}

.air-conditions-cell-label {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
}

.weekly-forecast-weather-condition-image {
  width: 55px;
  display: inline-block;
}

.weekly-forecast-day-label {
  display: inline;
}

.weekly-forecast-weather-condition-label {
  display: inline;
}

.weekly-forecast-temperature {
  display: inline;
}

.weekly-forecast-container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  background-color: rgb(32, 43, 59);
  grid-area: weekforecast;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  margin-top: 5rem;
  position: relative;
  gap: 10px;
  /* box-shadow: 1px 1px 8px 1px; */
}

.weekly-forecast-cell {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  font-size: 1rem;
  position: relative;
}

.weekly-forecast-cell:not(:first-child):not(:last-child)::before {
  content: '';
  background-color: white;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.weekly-forecast-high-temperature-label {
  font-weight: bold;
  color: white;
}

.weekly-forecast-label {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

ul:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li:hover {
  background-color: grey;
}

li {
  padding: 0.7rem;
  border-radius: 1rem;
}

.js-search-suggestion-select {
  background-color: grey;
}
