body {
  margin: 0;
}

.weather-app-container {
  background-color: rgb(15, 34, 58);
  margin: 0;
  height: 100vh;
  width: 100%;
}

.search-bar {
  background-color: rgb(33, 56, 83);
  border: none;
  color: rgb(172, 179, 190);
}
